<div class="comments-container">
    <h3 class="comments-header">2 Comments</h3>
    {{#each this}}
    <div class="comments-card">
        <section class="comments-card-body">
            <img class="comments-profile-picture" src={{user.photo}}>
            <div class="comments-section">
                <div class="section-header">
                    <h4 class="name">{{user.name}}</h4>
                    <p class="username">@{{user.username}}</p>
                </div>
                <p class="comments-content">{{content}}</p>
            </div>
            <button class="reply">Reply</button>
        </section>
        <hr>
    </div>
        {{#each replies}}
            <div class="reply-card">
                <section class="reply-card-body">
                    <img class="reply-profile-picture" src={{user.photo}}>
                    <div class="reply-section">
                        <div class="section-header">
                            <h4 class="name">{{user.name}}</h4>
                            <p class="username">@{{user.username}}</p>
                        </div>
                        <p class="reply-content"> 
                            @{{replyingTo}} 
                            {{content}}
                        </p>
                    </div>
                    <button class="reply">Reply</button>
                </section>
                <hr>
            </div>
        {{/each}}
    {{/each}}
</div>