<div class="card">
    <div class="card-header">
        {{!-- <a href="/feedback/{{id}}">{{title}}</a> --}}
        <h3>{{title}}</h3>
        <button>{{upvotes}}</button>
        <p>{{description}}</p>
        <button>{{status}}</button>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>