<div class="grid-container">
    <div class="main-sidebar">
        <div class="main__sidebar-logo">
            <h2>Frontend Mentor</h2>
            <p>Feedback Board</p>
        </div>
        <div class="main__sidebar-category" id="categoryBtnContainer">
            <button class="btn category-all active" onclick="filterSelection('all')">All</button>
            <button class="btn category-ui" onclick="filterSelection('ui')">UI</button>
            <button class="btn category-ux" onclick="filterSelection('ux')">UX</button>
            <button class="btn category-enhancement" onclick="filterSelection('enhancement')">Enhancement</button>
            <button class="btn category-bug" onclick="filterSelection('bug')">Bug</button>
            <button class="btn category-feature" onclick="filterSelection('feature')">Feature</button>
        </div>
        <div class="main__sidebar-roadmap">
            <div class="roadmap__header">
                <h3>Roadmap</h3>
                <a class="roadmap__header-link" href="/roadmap">View</a>
            </div>
            <div class="roadmap__bulletin">
                <ul class="bulletin-container">
                    <div class="container-planned">
                        <li class="planned">Planned</li>
                        <div>{{plannedCount}}</div>
                    </div>
                    <div class="container-in-progress">
                        <li class="in-progress">In-Progress</li>
                        <div>{{inProgressCount}}</div>
                    </div>
                    <div class="container-live">
                        <li class="live">Live</li>
                        <div>{{liveCount}}</div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="header-container">
            <img src="/css/suggestions/icon-suggestions.svg" alt="light-bulb" class="light-bulb">
            <h3>{{feedbacks.length}} Suggestions</h3>
            <form action="/action_page.php">
            <label for="feedback-filter">Sort by:</label>
            <select name="feedback-filter" class="feedback-filter" id="feedback-filter">
                <option class="feedback-sort-options" data-column="upvotes" data-sort-direction="DESC" value="most upvotes" onselect="sortSelection('upvotes')">Most Upvotes 
                    <img src="/css/shared/icon-arrow-up-white.svg" alt="arrow-up" class="arrow-up">
                </option>
                <option class="feedback-sort-options" data-column="upvotes" data-sort-direction="ASC" value="least upvotes" onselect="sortSelection('upvotes', 'ASC')">Least Upvotes</option>
                <option class="feedback-sort-options" data-column="comments" data-sort-direction="DESC" value="most comments" onselect="sortSelection('comments', 'DESC')">Most Comments</option>
                <option class="feedback-sort-options" data-column="comments" data-sort-direction="ASC" value="least comments" onselect="sortSelection('comments', 'ASC')">Least Comments</option>
            </select>
            </form>
        </div>
        <div class="button-container">
            {{#if logged_in}}
                <button class="logout" type="submit">
                    <a id="logout" class="logout-link" href="/">Logout</a>
                </button>
            {{else}}
                <button class="login" type="submit">
                    <a class="login-link" href="/login">Login</a>
                </button>
            {{/if}}
            <button class="add-feedback" type="submit">
                <a class="add-feedback-link" href="/dashboard/new">+ Add Feedback</a>
            </button>
        </div>
    </div>
    <div class="main-no-feedback"> 
        <div class="no-feedback-container">
            <div class="content">
                <img src="/css/suggestions/illustration-empty.svg" alt="illustration-empty" class="illustration-empty">
                <h1>There is no feedback yet.</h1>
                <p>Got a suggestion? Found a bug that needs to be squashed? We love hearing about new ideas to improve our app.</p>
                <button class="add-feedback" type="submit">
                <a class="add-feedback-link" href="/dashboard/new">+ Add Feedback</a>
                </button>
            </div>
        </div>
    </div>
</div>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}